body {
  background: grey;
}

.p {
  text-align: center;
}

.form-group {
  color: #404040;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 20px 30px;
}

.text-info {
  color: #404040;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 20px 30px;
}

.h1 {
  color: #404040;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  padding: 20px 30px;
}